@keyframes logo {
    form {
        color: rgb(49, 28, 240);
    }

    to {
        color: yellow;
    }
}

.nav1 {
    background-color: rgb(85, 34, 34);
    height: auto;
    width: auto;
}

/*Top Navbar styling*/
.b-logo {
    font-weight: bold;
    font-size: 50px;
    font-family: "Sofia", sans-serif;
    animation-name: logo;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    position: relative;
    /*margin-left: 4px;*/
}

.nav-sbox {
    display: flex;
    position: relative;
    /*  justify-content: center;
    align-items: center;*/
}

.input1 {
    border-radius: 0 0 0 7px;
    height: 40px;
    display: flex;
    border: 2px solid coral;
    position: relative;
    box-sizing: border-box;
    width: 30vw;
    /* margin-left: 150px;*/

}

.i-1 {
    color: coral;
    margin: 5px;
    display: flex;
}

.nav-log-cart {
    display: flex;
    /* margin-left: 20vw;*/
}

.btn1 {
    width: 80px;
    height: 40px;
    border: 2px solid coral;
    position: relative;
    border-radius: 0 7px 0 0;
    background-color: coral;

}

.btn2 {
    width: 80px;
    height: 40px;
    position: relative;
    border-radius: 5px;
    border: none;
    background-color: coral;
    font-weight: bold;

}

/*.div4 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}*/
.nav-link1 {
    display: block;
    padding: .5rem 1rem;
    color: #060606;
    text-decoration: none;
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out;
}


/*footer styling*/
.div1-foot {
    width: auto;
    background-color: rgb(34, 30, 30);
}

.foot-flex {
    color: rgb(243, 234, 234);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    list-style: none;

}

.foot-flex ul {
    list-style: none;
    margin: 10px;
}

.foot-flex li {
    cursor: pointer;
}

.foot-link {

    color: white;
    text-decoration: none;
}

/*Site Banner Styling*/
.text-style {
    text-align: center;
    color: rgb(247, 247, 247);
    padding-top: 25px;
    font-weight: bolder;
    font-size: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-name: logo;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    position: relative;
}

/*Featured Item Styling*/
.featured-product {
    background-color: rgb(43, 245, 164);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container-fluid {
    margin-bottom: 10px;
}

.btn-cart {
    width: 70%;
    height: auto;
    border: none;
    border-radius: 10px;
    background-color: rgb(243, 208, 12);
    color: solid black;
    text-decoration: none;
    position: relative;
    text-align: center;
    justify-content: center;
    color: black;
    font-weight: bolder;
    padding: 2px;
    margin: 10px;
}

/* Slider Button */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    background-color: rgba(245, 60, 60, 0.658);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;

}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


/* New Arrivals */
.container-new-arrive {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.container-new-arrive .card1 {
    overflow: hidden;
    width: 230px;
    background-color: orange;
    margin-bottom: 50px;
    border-radius: 0px 15px 0px 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
    transition: 0.8s;
}

.container-new-arrive .card1 .card-img1 {
    width: 230px;
    margin: 20px auto;
}

.container-new-arrive .card1:hover {
    transform: rotateZ(-20deg);
    transition: 0.8s;

}


/*Flip-flop-card*/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 5px;

}

.flip-card-in {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-in {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;

    backface-visibility: hidden;
    border-radius: 16px;
}

.flip-card-front {
    background-image: linear-gradient(45deg, rgb(41, 41, 212), rgb(230, 62, 90));
}

.flip-card-front img {
    width: 220px;
    margin-top: 2rem;
}

.flip-card-back {
    background-image: linear-gradient(315deg, rgb(41, 41, 212), rgb(230, 62, 90));
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back img {
    width: auto;
    height: 140px;
    margin-top: 1rem;
}

.flip-card-back h3 {
    margin-bottom: 0.3rem;
}

.flip-card-back h1 {
    margin: 0;
}


/*Contact-page-Styling*/
.contact {
    border-radius: 4px;
    box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    align-items: center;
    font-weight: bolder;
    position: relative;
    margin: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.cont-inner {
    width: 300px;
    height: 300px;
    margin: 15px;
    position: relative;

}

.cont-inner img {
    border-radius: 0 8px 0 8px;
    box-shadow: 0 0 5px 0 black;
    width: 350px;
    height: 300px;
    position: relative;

}

.cont-inner-input {
    width: 350px;
    height: 300px;
    margin: 15px;
    border-radius: 0 10px 0 10px;
    box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.3);
    align-items: center;
    position: relative;
}

.cont-inner-input form label {
    float: left;
    margin-left: 10px;
    font-weight: bolder;
}

.cont-inner-input input {
    float: left;
    margin-left: 10px;
    font-weight: bolder;
    width: 90%;
}

.cont-inner-input textarea {
    float: left;
    margin-left: 10px;
    font-weight: bolder;
    width: 90%;
}

.cont-inner-input button {
    margin-top: 30px;
    border: none;
    text-align: center;
    width: 90%;
    background-color: coral;
    font-weight: bold;
    float: left;
    margin-left: 10px;
    border-radius: 8px;
    transition: 0.5s;
}

.cont-inner-input button:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


/*login-page*/
.login {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    border: 1px solid;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;

}

.login-inner label {
    float: left;
    font-weight: bolder;
}

.login-inner input {
    width: 350px;
    position: relative;
}

.log-btn {
    align-items: center;
    margin-top: 10px;
    border: none;
    background-color: coral;
    border-radius: 5px;
    width: 100%;
    font-weight: bolder;
}

/*Cart page styling*/
.cart {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.grid-container {
    display: grid;
    border-radius: 2px;
    box-shadow: 0 2px 6px 0 rgb(121, 102, 102);
    margin-top: 5px;
    margin-bottom: 5px;
}

.grid-item-inner {
    padding: 20px;
}

.cart-item-1 {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    background-color: rgb(231, 241, 237);
}

.cart-item-2 {
    grid-row: 2;
    grid-column: 2;
    text-align: center;

}

.cart-item-3 {
    grid-row: 2;
    grid-column: 3;
    text-align: center;

}

.cart-item-4 {
    grid-row: 2;
    grid-column: 4;
    text-align: center;

}

.card-header {
    height: 70px;
}

.card-size {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 300px;
}

/*Kids/all_product page Styling*/
.card-img-style {
    width: auto;
    height: 200px;
    align-items: center;
}

.card-body-style {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-size {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

